.App {
  text-align: center;
}

.container{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  box-shadow: 1px 1px 5px grey;
  padding: 10px;
}
.input{
  width: 50%;
}

.photos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.image{
  margin: 3px;
  width: 30%;
}